#HTTPS Redirect
#HRewriteCond %{HTTP:X-Forwarded-Proto} !https
#HRewriteCond %{HTTPS} off
#HRewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule !.(\.gif|\.jpg|\.png|\.swf|\.xml)$   index.php

RewriteCond %{HTTP_HOST} ^agileinline\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.agileinline\.com$
RewriteRule ^/?$ "http\:\/\/www\.agileinline\.com\/" [R=301,L]

